:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

textarea {
  width: 400px;
  height: 100px;
  border-radius: 10px;
  resize: none;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0.5em;
}

h2 {
  font-size: 2.2em;
  line-height: 1.1;
  margin: 0.5em;
  margin-bottom: 0.0em;
}

h3 {
  font-size: 1.8em;
  margin-bottom: 0.0em;
}

hr {
  width: 40%;
  margin-bottom: 1.2em;
  margin-top: 1px;
}

.hrTitle {
  width: 50%;
  margin-top: 10px;
}

iframe {
  border-radius: 10px;
  border: none;
  margin-inline: 1em;
  margin-bottom: 0.25em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 0;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: .5em;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.recButton {
  background-color: #db2c00;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
}

.recButton:hover {
  background-color: #ff4d26;
  transition: .5s;
}

.sendButton {
  background-color: #00b300;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;
}

.sendButton:hover {
  background-color: #00e600;
  transition: .5s;
}

.wheaterZone {
  display: grid;
  grid-template-columns: auto auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@media only screen and (max-width: 600px) {

  h1 {
    font-size: 5.2em;
    line-height: 1.1;
    margin: 0.5em;
  }

  .buttonZone {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: .5em;
    align-self: center;
  }

  .recButton {
    font-size: 48px;
  }
  
  .sendButton {
    font-size: 48px;
  }
  

  textarea {
    width: 500px;
    height: 200px;
    border-radius: 10px;
    resize: none;
    padding: 10px;
    font-size: 30px;
    margin: 10px;
  }

  .wheaterZone {
    display: grid;
    grid-template-columns: auto;
  }
}